<div class="card">
    <div class="card-body"><center><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.alapan.me%2Fwp-content%2Fuploads%2F2017%2F04%2Fnodejs.png&f=1&nofb=1" height="400px" width="700px" alt=""></div></center>
</div>
</div>
<center>
    <a href="http://localhost:8082/admin/categorias/add"><button class="btn btn-success">Criar Categoria</button></a>
     <a href="http://localhost:8082/admin/postagens/add"><button class="btn btn-success">Criar Postagem</button></a>
</center>